<div id="clearance" class="password-reset auth-forms">
<div class="alert alert-info" role="alert">
 	<%= t(".description") %>
</div>
<%= link_to "Back to sign in", sign_in_path, :class => 'btn btn-success sign-in-btn', :id => 'back-to-login' %>
</div>
