// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

div.main-listing img {
	width: 300px;
	height: auto;
}

.auth-forms {
    width: 75%;
    margin: 0 auto;
    overflow: hidden;
    justify-content: space-around;
    margin-top: 1rem;
}
